@model big_project_LT_Web_TEAM3.Models.Document

<h4>Sửa văn bản</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <partial name="_EditCreate"></partial>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-cm btn-outline-dark">Danh sách văn bản</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
